html, body{
	padding: 0px;
	margin: 0px;
	height: 100%;
	font-size: 13px;
	font-family: 'Roboto', sans-serif;
	color: #111;
}

body{
	padding-left: 275px;
	background-color: #f1f1f1;
}

/* Rigtmouse Pannel */
#mousepannel {
	position: absolute;
	z-index: 99;
}

#pannelbackground{
	background: white;
	box-shadow: 2px 3px 16px hsla(222, 72%, 83%, 0.8);
	width: 190px;
	right: 100px;
	top: 121px;
	font-weight: bold;
	color: #6f7a82;
	border: 1px solid #d2e3f4;
}

#mousepannel_close {
	position: absolute;
	right: 16px;
	padding: 5px;
	margin: 0px;
	background: #d2edff;
	color: #656464;
	cursor: pointer;
	font-weight: bold;
	border: 1px solid #d2e3f4;
	border-top: 0;
	z-index: 5;
}

#pannelbackground > h3 {
	margin: 0;
	padding: 4px 0px;
	text-align: center;
	text-transform: capitalize;
}

#mousepannel::after {
  content: "";
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 10px 10px 10px 0;
	border-color: transparent #ffffff transparent transparent;
  position: absolute;
	top: 35px;
  left: -9px;
}

.subpannel{
	padding: 0px 16px 0px 16px;
}

#mousepannel .panneloption {
  cursor: pointer;
  padding: 15px 0px 15px 42px;
	position: relative;
}

#mousepannel .panneloption:hover {
  background-color: #fbfbfb;
  text-decoration: underline;
}

#mousepannel .pannelbar{
	height: 1px;
	background: #d2d7da;
	width: 80%;
	margin: 4px auto;
}

#mousepannel .pannelinput{
	padding: 2px 0px 0px 0px;
	font-weight: normal;
	font-size: 12px;
	position: relative;
}

#mousepannel .pannelinput input, #mousepannel .pannelinput select{
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;
	display: block;
	width: 100%;
	padding: 4px 8px;
	background-color: #f0f3f5;
	border: 0px;
	color: #6a767f;
	border-bottom: 2px solid white;
}

#mousepannel .pannelinput.script input{
	padding-left: 40px !important;
}

.warp_pannel .pannelinput{
	width: 30%;
	float: left;
}

.warp_pannel .pannelinput:not(:nth-child(3)){
	margin-right: 5%;
}

#mousepannel .pannelinput input:focus, #mousepannel .pannelinput select:focus{	color: #6a767f;
	border-bottom: 2px solid #9ecdf2;
	outline: none;
}

.pannelinput.script::after {
	content: "0x";
	position: absolute;
	left: 0px;
	top: 16px;
	width: 16px;
	padding: 11px 5px 12px 10px;
	line-height: 0px;
	background-color: #d2edff;
	color: #111;
	font-weight: bold;
}

#mousepannel .subpannel button {
	width: 100%;
	background-color: #f8f8f8;
	border: 1px solid #d9d9d9;
	color: #2c2e31;
	padding: 7px 0;
	border-radius: 2px;
	position: relative;
	cursor: pointer;
	margin: 2px 0px;
}

#mousepannel .pannelinput button:hover{
	background-color: #f1f1f1;
}

#mousepannel i {
  display: block;
  width: 12px;
  height: 12px;
  position: absolute;
  left: 15px;
  top: 15px;
}

.halfpannelinput .pannelinput {
	width: 43% !important;
	float: left;
}

.halfpannelinput .pannelinput:nth-child(1) {
	margin-right: 14%;
}

#mousepannel .pannelinput i {
	left: 9px;
	top: 7px;
}

#mousepannel i.info {
    background: url(images/GUI/icons/info-rightclick.jpg) no-repeat;
}

#mousepannel i.delete {
    background: url(images/GUI/icons/delete-rightclick.jpg) no-repeat;
}

#mousepannel i.script {
    background: url(images/GUI/icons/code-rightclick.jpg) no-repeat;
}

/* ICONS */
.icon-map:after{
	background-image: url("https://maxcdn.icons8.com/iOS7/PNG/25/Maps/map_editing-25.png");
}

.icon-code:after{
	background-image: url("https://maxcdn.icons8.com/iOS7/PNG/25/Programming/code-25.png");
}

.icon-hex:after{
	background-image: url("https://maxcdn.icons8.com/iOS7/PNG/25/Science/hashtag-25.png");
}

.icon_map_menu:after{
	background-image: url("https://maxcdn.icons8.com/iOS7/PNG/25/Household/structural-25.png");
}

.icon_info_menu:after{
	background-image: url("https://maxcdn.icons8.com/iOS7/PNG/25/User_Interface/info_popup-25.png");
}

.icon_hand_menu:after{
	background-image: url("https://maxcdn.icons8.com/iOS7/PNG/25/Hands/hand-25.png");
}

.icon_sprite:after{
	background-image: url("https://maxcdn.icons8.com/iOS7/PNG/25/Business/conference_call_filled-25.png");
}

.icon_sprite:hover:after{
	background-image: url("https://maxcdn.icons8.com/iOS7/PNG/25/Business/conference_call-25.png");
}


.hide{ display: none !important; }
.clear{ clear: both; }
.grab{ cursor: -webkit-grab !important; }
.grabbing{ cursor: -webkit-grabbing !important; }

.blueButton{
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	line-height: 0px;
	padding: 0px;
	margin: 0px;
	color: white;
	text-align: center;
	border: 0px;
	background: #589fc3;
	border-right: 1px solid #4A829E;
	position: relative;
}
.blueButton:not(.disabled):hover{
	cursor: pointer;
	background: #5CA9D0;
}

/* DROPBOX */
.dropbox{
	position: relative;
	font-weight: bold;
	font-size: 14px;
	color: #334455;
	cursor: pointer;
	background-color: white;
  border: 1px solid #d2e3f4;
}

.dropbox > .dropbox_title{
	padding: 13px 20px;
}

.dropbox > .dropbox_title:after{
	content: "";
	position: absolute;
	right: 20px;
	top: 20px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 7px 7.5px 0 7.5px;
	border-color: #334455 transparent transparent transparent;
}

.dropbox:hover > .dropbox_title:after{
	border-width: 0 7.5px 7px 7.5px;
	border-color: transparent transparent #334455 transparent;
}

.dropbox > .options{
	position: absolute;
	bottom: 43px;
	left: -10000px;
	background: white;
	width: 100%;
  border: 1px solid #d2e3f4;
	max-height: 350px;
  overflow: auto;
	z-index: 9;
}

.dropbox:hover > .options{
	left: -1px;
}

.dropbox:hover > .dropbox_title:before{
	content: "";
	position: absolute;
	right: 20px;
	top: -1px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 9px 7.5px 0 9.5px;
	border-color: #d2e3f4 transparent transparent transparent;
	z-index: 9;
}

.dropbox > .options div{
	padding: 15px;
}

.dropbox > .options div:hover{
	background-color: #f5f5f5;
}

#mousepannel .dropbox{
	margin: 0px 10px 5px 10px;
}

/* Left Pannel */
#leftpannel{
	position: absolute;
	left: 12px;
	top: 0px;
	height: 100%;
	width: 250px;
	display: block;
	background-color: #ffffff;
	color: #222;
  box-shadow: 0 1px 2px rgba(0,0,0,.1);
}

.icon{
	width: 40px;
	height: 25px;
	background: transparent;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -20px;
	margin-top: -12px;
}

#buttonFile{
	transition: background-color 0.3s;
	-webkit-transition: background-color 0.3s;
	-ms-transition: background-color 0.3s;
	-moz-transition: background-color 0.3s;
	-o-transition: background-color 0.3s;
	background-color: #9dd038;
	width: 100%;
	border: 0px;
	border-bottom: 4px #7eab24 solid;
	display: block;
	padding: 0px 0px;
	margin: 0px;
	line-height: 0px;
	text-align: center;
	color: #E5E4E4;
	text-shadow: 1px 1px 0px rgba(0,0,0,0.1);
	cursor: pointer;
	font-size: 16px;
}

#buttonFile div{
	padding: 30px 0px;
}

.file_button_in, #buttonFile:hover{
	background-color: #7eab24;
	margin-top: 4px !important;
	border-bottom: 0px !important;
}

.file_button_in{
	cursor: default !important;
	background-color: #7eab24 !important;
}

/* ROMS COLOR */
/*.room_button_Fire_Red{
	background-color: #eb5246 !important;
	border-color: #ab4037 !important;
}

.room_button_Leaf_Green{
	background-color: #32b44f !important;
	border-color: #28813c !important;
}

.room_button_Saphire{
	background-color: #0c8ec0 !important;
  border-color: #056489 !important;
}

.room_button_Ruby{
	background-color: #d11f32 !important;
  border-color: #9e1523 !important;
}*/

#buttonFile > img{
	padding: 5px 0px !important;
}

.lightbox{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background-color: rgba(61, 65, 73, .7);
	z-index: 9;
}

.lightbox_hide{
	opacity: 0;
	display: none;
}

#loadingScreen{
	width: 250px;
	background-color: white;
	margin: 40px auto;
	padding: 10px 20px;
	text-align: center;
}

.loader{
	transition: width 0.3s;
	-webkit-transition: width 0.3s;
	-ms-transition: width 0.3s;
	-moz-transition: width 0.3s;
	-o-transition: width 0.3s;
	width: 0px;
	height: 20px;
	margin: 10px 0px;
	background-color: #00a9e8;
}

#game_selection{
	position: relative;
	width: 100%;
	background-color: #2681dc;
	padding-bottom: 1px;
}

#upload_checkbox{
	display: block;
	border: 0;
	margin: 20px;
	font-size: 14px;
	color: white;
	cursor: pointer;
}

#upload_checkbox:hover{
	text-decoration: underline;
}

#game_selection > #upload_button{
	position: relative;
	font-weight: bold;
	font-size: 14px;
	color: #334455;
	cursor: pointer;
	background-color: white;
  border: 1px solid #d2e3f4;
	padding: 13px 20px;
	margin: 10px 0px 0px 30px;
}

#game_selection h2{
  border-bottom: 1px solid #3a6fa5;
	color: #545454;
	font-size: 18px;
	font-weight: bold;
  padding: 35px 0;
	line-height: 0;
	margin: 0;
  text-align: center;
	background-color: white;
}

#games_overflow{
	height: 260px;
	width: 100%;
	overflow: hidden;
	background-color: white;
	margin-bottom: 10px;
}

.game_option{
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	width: 240px;
	margin: 10px 4px;
  border: 2px solid #e4e9eb;
	float: left;
	position: relative;
	overflow: hidden;
	width: 200px;
	padding: 10px 0px 0px 0px;
	cursor: pointer;
}

.game_option:hover, .game_selected{
	border-color: #3c8fdf;
	border-radius: 0px;
	background-color: white;
}

.game_selected:after{
	content: "";
	position: absolute;
  right: -50px;
  top: -50px;
	width: 100px;
	height: 100px;
	background-color: #00a9e8;
	transform: rotate(-45deg);
	z-index: 9;
}

.game_selected:before{
	content: "";
	position: absolute;
  right: 6px;
  top: 6px;
	width: 29px;
	height: 29px;
	background: url(images/GUI/icons/tick.jpg);
	z-index: 10;
}

.game_option img{
	border-bottom: 1px solid #e4e9eb;
	border-top: 1px solid #e4e9eb;
	display: block;
}

.game_option h4{
	color: #334455;
	text-align: center;
	margin: 0px;
	padding: 5px 0px;
}
/* Search Area */
#searchbox{
	padding: 10px 7px;
	position: relative;
}

#searchInput{
	display: block;
  padding: 12px 32px 12px 18px;
	margin: 0px;
	font-size: 14px;
	border: 1px solid #d5d5d5;
	width: 185px;
	background-color: #fff;
	color: #333;
	border-radius: 25px;
}

.searchbutton{
	width: 17px;
	height: 17px;
	border: 0px;
	background: transparent url(images/GUI/icons/search.jpg) no-repeat;
	padding: 0px;
	margin: 0px;
	cursor: pointer;
	position: absolute;
	top: 21px;
	right: 18px;
}

#game_language{
	margin: 0px 100px;
}

#selection_buttons{
	display: flex;
	padding: 10px 30px;
}

#selection_buttons buttton{
	transition: background-color 0.3s;
	-webkit-transition: background-color 0.3s;
	-ms-transition: background-color 0.3s;
	-moz-transition: background-color 0.3s;
	-o-transition: background-color 0.3s;
	color: white;
	cursor: pointer;
	padding: 12px 0px;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 13px;
	text-align: center;
	flex:1;
	border: 2px solid transparent;
}

#acceptGBA{
	border-color: #7eab24 !important;
	background-color: #7eab24;
	border-left: 0px !important;
}

#acceptGBA:hover{
	background-color: #9ac14b;
}

#cancelGBA{
	border-color: #404553 !important;
	background-color: #404553;
	border-right: 0px !important;
}

#cancelGBA:hover{ background-color: #5c616f; }

#rightside_menu{
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	user-select: none;
	-o-user-select: none;
	-ms-user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	line-height: 0px;
	width: 250px;
	cursor: pointer;
}

#rightside_menu div:hover{
	background-color: #e6e6e6;
}

#rightside_menu:hover:after{
	border-color: transparent transparent #fff transparent;
}

#rightside_menu:hover:before{
	border-color: transparent transparent rgba(0, 0, 0, .2) transparent;
}

#rightside_menu div[data-value]{
	padding: 25px 50px;
	font-size: 13px;
	cursor: pointer;
	font-weight: bold;
	position: relative;
}

#rightside_menu div[data-value]:hover:after{
	left: 15px;
}

#rightside_menu div[data-value]:after{
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	content: "";
	width: 25px;
	height: 25px;
	position: absolute;
	left: 12px;
	top: 12px;
	background-repeat: no-repeat;

}

.viewer_in{
	background-color: #2681dc !important;
	color: white !important;
}

.viewer_in:after{
	filter: brightness(0) invert(1);
}

.partHeader{
	flex: 1;
	text-align: center;
}

/* Right Pannel */
#rightpannel{
  box-shadow: 0 1px 2px rgba(0,0,0,.1);
	flex: 1;
	height: 100%;
	width: 100%;
	overflow: auto;
	position: relative;
}

.editor_area{
	background-color: white;
	position: relative;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}

#hexEditor{
	background-color: #333944;
}

#codeEditor{
	position: relative;
	height: 100%;
}

.hexheaderpanel{
	background-color: #2681dc;
	z-index: 6;
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
}

.hexArea{
	width: 416px;
	position: relative;
	float: left;
	padding-left: 85px;
}

.hexArea, .hexZone{
	height: 100%;
	overflow: hidden;
	background-color: white;
}

.lefthexpanel{
	height: 100%;
	width: 85px;
	background-color: #2681dc;
	position: absolute;
	left: 0px;
	top: 0px;
	padding-top: 36px;
	color: white;
  text-align: center;
	line-height: 0px;
  text-transform: uppercase;
}

.righthexpanel{
	position: relative;
	padding-top: 36px;
	height: 100%;
}


.righthexpanel:after{
	content: "";
	width: 1px;
	background-color: #e5e5e5;
	height: 100%;
	position: absolute;
	left: 50%;
	top: 0px;
}

.hexNum{
	color: white;
	text-align: center;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	padding: 18px 0px;
  width: 26px;
	line-height: 0px;
	white-space: nowrap;
	float: left;
	text-transform: uppercase;
}

.hexValue{
  width: 85px;
  padding: 17px 0;
  border-top: 1px solid #115da9;
  border-bottom: 1px solid #4a9aea;
}

.fieldValue{
	color: #222;
	display: flex;
}

.fieldValuehover{
	color: #222;
	background-color: #f7f7f7;
}

.byteValue{
	width: 26px;
	background-color: transparent;
	text-align: center;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	padding: 18px 0px;
	line-height: 0px;
	overflow: hidden;
}

.byteValuehover:not(.emptybyte){
	color: white;
	background-color: #2681dc;
}


.emptybyte{
	background-color: #eee;
}

button:focus, input:focus{ outline: none; }

/** CODEVIEW **/
/* Tab */
#codeEditor__tabs{
	background-color: #333944;
}

.tab{
	cursor: pointer;
	padding: 20px 30px 20px 20px;
	border-right: 1px solid #242A35;
	width: 65px;
	text-align: center;
	color: whitesmoke;
	float: left;
	position: relative;
	line-height: 0px;
	user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
}

.tab:hover{
	background-color: #454B58;
}

.tab .close_tab{
	content: "x";
	color: whitesmoke;
	font-size: 12px;
	position: absolute;
	right: 20px;
	top: 19px;
	font-weight: bold;
}

.tab__selected{
	background-color: whitesmoke;
	color: #282d37;
}

.tab__selected:hover{
	background-color: whitesmoke;
}

.tab__selected .close_tab{ color: #282d37; }


/* Canvas */
#mapEditor{
	position: relative;
}

#map_headers{
	width: 230px;
	height: 100%;
	position: absolute;
	left: 0px;
	top: 0px;
	background-color: #2681dc;
  color: white;
	overflow-y: auto;
	overflow-x: hidden;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
}

#map_padding.leftMapClose #map_headers{
	width: 0px !important;
	overflow: hidden !important;
}

#map_padding.leftMapClose{
  padding: 0 170px 0 0px !important;
}

#map_padding{
	padding: 0 170px 0 230px;
	height: 100%;
	overflow: hidden;
}

#map{
	height: 100%;
	width: 100%;
	background: url(images/background/background_editor.png);
	position: relative;
}

#canvas_map{
	padding: 0px;
	margin: 0px;
	line-height: 0;
	cursor: default;
}

#rightMap{
	width: 170px;
	height: 100%;
	background-color: #f2f2f2;
	border-left: 1px solid #d2d2d2;
	overflow-y: auto;
	position: absolute;
  right: 0;
  top: 0;
}

#blocks_map{
	display: block;
	margin: 0 auto;
}

#selected_block{
	position: absolute;
	width: 14px;
	height: 14px;
	border: 2px solid red;
	left: 0px;
	top: 0px;
}

#leftMap h2{
	margin: 0px;
	padding: 18px 25px;
	border-bottom: 1px solid #3c8fdf;
	text-align: center;
}

.header_option{
	height: 40px;
  overflow: hidden;
  cursor: pointer;
  border-top: 1px solid #115da9;
  border-bottom: 1px solid #4a9aea;
	color: #7db4ec;
}

.header_option.open{
	height: auto;
}

.header_name{
	padding: 20px 50px;
  position: relative;
  line-height: 0;
  font-weight: bold;
  font-size: 12px;
	border-bottom: 1px solid #115da9;
	color: white;
}

.header_name:after, .header_name:before{
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	content: "";
	position: absolute;
	left: 24px;
	top: 16px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 7px 7px 0 7px;
	border-color: #ffffff transparent transparent transparent;
}

.header_name:before{
	z-index: 1;
	top: 13px;
	border-color: #2681dc transparent transparent transparent;
}

.header_option.open .header_name:after{
	border-width: 0 7px 7px 7px;
	border-color: transparent transparent #ffffff transparent;
}

.header_option.open .header_name:before{
	top: 19px;
	border-width: 0 7px 7px 7px;
	border-color: transparent transparent #2681dc transparent;
}

.header_map{
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	padding: 20px 25px;
  position: relative;
  line-height: 0;
  font-size: 12px;
	font-weight: bold;
	color: #d0e7ff;
}

.header_map:not(.current):hover{
	background-color: #4ba5ff;
}

.header_map.current{
	color: #2681dc;
	background-color: white;
}
